# --- Python & Environments ---
# Ignores bytecode and virtual environments
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# --- Build & Distribution ---
# Ignores packaging files you don't need for deployment
build/
dist/
wheels/
*.egg-info

# --- Machine Learning Data  ---
# 1. Ignore the data folder
data/

# 2. Ignore csv files
*.csv

# 3. Ignore txt files
.txt

# 4. Ignore model and output files
.pkl
.joblib
.png

# --- Model Artifacts & Logs ---
# Ignores CatBoost temporary files and training logs
catboost_info/
script/catboost_info/

# --- Operating System Files ---
.DS_Store
Thumbs.db

# key file
*.pem
